In [1]:
import requests

In [2]:
response = requests.get("https://google.com/search?q=thataiguy")

In [3]:
print(response.headers)

{'Content-Type': 'text/html; charset=ISO-8859-1', 'Date': 'Thu, 28 Dec 2023 12:22:46 GMT', 'Expires': '-1', 'Cache-Control': 'private, max-age=0', 'Content-Security-Policy': "object-src 'none';base-uri 'self';script-src 'nonce-yA3_oZ04CprkfBjwFe4jbw' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/xsrp", 'P3P': 'CP="This is not a P3P policy! See g.co/p3phelp for more info."', 'Content-Encoding': 'gzip', 'Server': 'gws', 'X-XSS-Protection': '0', 'X-Frame-Options': 'SAMEORIGIN', 'Set-Cookie': '1P_JAR=2023-12-28-12; expires=Sat, 27-Jan-2024 12:22:46 GMT; path=/; domain=.google.com; Secure, AEC=Ackid1TWexTtDjzIT5CVR81hVnGoUxRHX-uFo3X4vnL8uQOxSmdeyXopesg; expires=Tue, 25-Jun-2024 12:22:46 GMT; path=/; domain=.google.com; Secure; HttpOnly; SameSite=lax, NID=511=pHARDvX8bYXA3wjykPWDTSEohe8BkWsizogXIjMtZ_nh7nVWGrKeyQNm6TOLN61UouuJOjcnC_w1noztT-DT1_ufp6GdUfmPqIV3M6TxVK-4PX1FKc9GbRxx4Z_E5KzW0-QK0pcTSJPFWb9uezX5-szo4nrwTj816biWwFIJRQU; expires=Fri, 28-Jun-2024 12:22:46 GMT; path=/; domain=.google.com; HttpOnly', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000', 'Transfer-Encoding': 'chunked'}

In [4]:
# Check the response URL

print(response.url)

https://www.google.com/search?q=thataiguy

In [5]:
# Check the status code of the response

print(response.status_code)

200

In [6]:
# Check the response encoding

print(response.encoding)

ISO-8859-1

In [7]:
# Check the response content type

print(response.headers['Content-Type'])

# Using this way, we can find the Date, Expires and other header properties as well

text/html; charset=ISO-8859-1

Status Code
Here are some codes that are relevant to GET requests:

200 - everything went okay, and the result has been returned (if any).
301 - the server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
401 - the server thinks you're not authenticated. This happens when you don't send the right credentials to access an API (we'll talk about authentication in a later post).
400 - the server thinks you made a bad request. This can happen when you don't send along the right data, among other things.
403 - the resource you're trying to access is forbidden -- you don't have the right permissions to see it.
404 - the resource you tried to access wasn't found on the server.

Remember

1xx - Information
2xx - Success
3xx - Redirection
4xx - Client Error
5xx - Server Error

In [1]:
import requests

response = requests.get('https://www.apple.com/')
print(response)

<Response [200]>

In [2]:
# Try the endpoint that doesnot exist

response = requests.get("https://google.com/abcd")

print(response.status_code)

404

Query Parameters

In [3]:
# Request without query parameter
response = requests.get('https://www.google.com/search')
print(response.status_code)

200

In [4]:
parameters = {"q": "Alade Idris"}

# Request with query parameter
response = requests.get("https://google.com/search", params=parameters)

print(response.status_code)

200

### Request and Response from International Space Station API

Demonstrating an example with OpenNotify API
In order to demonstrate, we will be using OpenNotify's API. OpenNotify has several API endpoints.
OpenNotify API Documentation - http://open-notify.org/Open-Notify-API/

API Endpoint

An API endpoint is a digital location where an API receives requests about a specific resource on its server.

/iss-now.json endpoint

The first endpoint we'll look at on OpenNotify is the iss-now.json endpoint.
This endpoint gets the current latitude and longitude of the International Space Station.
As you can see, retrieving this data isn't a great fit for a dataset, because it involves some calculation on the server, and changes quickly.

In [5]:
# Make a get request to get the latest position of the international space station from the opennotify api.

response = requests.get("http://api.open-notify.org/iss-now.json")
print(response.headers)

{'Server': 'nginx/1.10.3', 'Date': 'Fri, 29 Dec 2023 15:23:14 GMT', 'Content-Type': 'application/json', 'Content-Length': '113', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [6]:
# Check the response content type

print(response.headers['Content-Type'])

application/json

In [7]:
# Check the response content type

print(response.headers['Content-Type'])

application/json

In [8]:
# Check the response url

print(response.url)

http://api.open-notify.org/iss-now.json

In [9]:
# Check the status code of the response

print(response.status_code)

200

In [10]:
# Check the response encoding

print(response.encoding)

utf-8

In [11]:
# Text Response Content
# This is useful if the response body contains text data

print(response.text)

{"timestamp": 1703863394, "iss_position": {"longitude": "-95.4605", "latitude": "29.9906"}, "message": "success"}

In [12]:
# Binary Response Content
# This is useful if the response body contains non-text data

print(response.content)

b'{"timestamp": 1703863394, "iss_position": {"longitude": "-95.4605", "latitude": "29.9906"}, "message": "success"}'

In [13]:
# JSON Response Content
# This is useful if the response body contains JSON data

print(response.json())

{'timestamp': 1703863394, 'iss_position': {'longitude': '-95.4605', 'latitude': '29.9906'}, 'message': 'success'}

Are there people in Space Right Now ?
/astros.json endpoint

This API returns the current number of people in space.
When known it also returns the names and spacecraft those people are on.

In [14]:
response = requests.get("http://api.open-notify.org/astros.json")

print(response.headers["Content-Type"])

application/json

In [15]:
print(response.headers)

{'Server': 'nginx/1.10.3', 'Date': 'Fri, 29 Dec 2023 15:34:49 GMT', 'Content-Type': 'application/json', 'Content-Length': '360', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [16]:
data = response.json()
print(type(data))

<class 'dict'>

In [17]:
print(data)

{'message': 'success', 'people': [{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, {'name': 'Andreas Mogensen', 'craft': 'ISS'}, {'name': 'Satoshi Furukawa', 'craft': 'ISS'}, {'name': 'Konstantin Borisov', 'craft': 'ISS'}, {'name': 'Oleg Kononenko', 'craft': 'ISS'}, {'name': 'Nikolai Chub', 'craft': 'ISS'}, {'name': "Loral O'Hara", 'craft': 'ISS'}], 'number': 7}

Finding the Number and Names of Astronauts in Space

In [18]:
data.keys()

dict_keys(['message', 'people', 'number'])

In [19]:
print(data['number'])

7

In [20]:
print(data['people'])

[{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, {'name': 'Andreas Mogensen', 'craft': 'ISS'}, {'name': 'Satoshi Furukawa', 'craft': 'ISS'}, {'name': 'Konstantin Borisov', 'craft': 'ISS'}, {'name': 'Oleg Kononenko', 'craft': 'ISS'}, {'name': 'Nikolai Chub', 'craft': 'ISS'}, {'name': "Loral O'Hara", 'craft': 'ISS'}]

In [21]:
people_in_space = data['people']
for astronaut in people_in_space:
    print(astronaut['name'])

Jasmin Moghbeli
Andreas Mogensen
Satoshi Furukawa
Konstantin Borisov
Oleg Kononenko
Nikolai Chub
Loral O'Hara

### Converting the JSON data from API to DataFrame

- Purpose
Many APIs return data in JSON format, and the data might be nested. We must know how to convert JSON into a DataFrame that can be easily analyzed.

Steps

- Use the requests library to make HTTP requests to the API endpoint and retrieve the data. The API key, if required, needs to be included in the request headers.
- Once you have the data, you can push it in a pandas DataFrame to analyze and process it.

In [22]:
import requests
import pandas as pd

In [23]:
# Way 1

# Using "requests" library make a HTTP request to "/astros.json" endpoint
response = requests.get("http://api.open-notify.org/astros.json")

In [26]:
# Push data to DataFrame
data = response.json()
print(data)

{'message': 'success', 'people': [{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, {'name': 'Andreas Mogensen', 'craft': 'ISS'}, {'name': 'Satoshi Furukawa', 'craft': 'ISS'}, {'name': 'Konstantin Borisov', 'craft': 'ISS'}, {'name': 'Oleg Kononenko', 'craft': 'ISS'}, {'name': 'Nikolai Chub', 'craft': 'ISS'}, {'name': "Loral O'Hara", 'craft': 'ISS'}], 'number': 7}

In [29]:
df = pd.DataFrame(data)
df

   message                                          people  number
0  success     {'name': 'Jasmin Moghbeli', 'craft': 'ISS'}       7
1  success    {'name': 'Andreas Mogensen', 'craft': 'ISS'}       7
2  success    {'name': 'Satoshi Furukawa', 'craft': 'ISS'}       7
3  success  {'name': 'Konstantin Borisov', 'craft': 'ISS'}       7
4  success      {'name': 'Oleg Kononenko', 'craft': 'ISS'}       7
5  success        {'name': 'Nikolai Chub', 'craft': 'ISS'}       7
6  success        {'name': 'Loral O'Hara', 'craft': 'ISS'}       7

In [30]:
astronaut = pd.DataFrame(data['people'])
astronaut

                 name craft
0     Jasmin Moghbeli   ISS
1    Andreas Mogensen   ISS
2    Satoshi Furukawa   ISS
3  Konstantin Borisov   ISS
4      Oleg Kononenko   ISS
5        Nikolai Chub   ISS
6        Loral O'Hara   ISS

### Way 2 - Using pd.json_normalize()
The json_normalize function in Pandas is used to normalize semi-structured JSON data into a flat table. It is particularly useful when dealing with nested JSON structures, where certain fields might contain nested dictionaries or lists.

In [31]:
# Way 2

# Using "requests" library make a HTTP request to "/astros.json" endpoint
response = requests.get("http://api.open-notify.org/astros.json")

# Retrieve the data from the "response"
data = response.json()

# Use "json_normalize()" to normalize JSON data into flat table
df = pd.json_normalize(data)

df

   message                                             people  number
0  success  [{'name': 'Jasmin Moghbeli', 'craft': 'ISS'}, ...       7

In [32]:
# # This is not the expected outcome
# # Fixing way 2

# Using "requests" library make a HTTP request to "/astros.json" endpoint
response = requests.get("http://api.open-notify.org/astros.json")

# Retrieve the data from the "response"
data = response.json()

# Convert JSON data to DataFrame
astronauts = pd.json_normalize(data, record_path=['people'])

astronauts

                 name craft
0     Jasmin Moghbeli   ISS
1    Andreas Mogensen   ISS
2    Satoshi Furukawa   ISS
3  Konstantin Borisov   ISS
4      Oleg Kononenko   ISS
5        Nikolai Chub   ISS
6        Loral O'Hara   ISS

In [33]:
# Way 3

df = pd.read_json("http://api.open-notify.org/astros.json")

df

   message                                          people  number
0  success     {'name': 'Jasmin Moghbeli', 'craft': 'ISS'}       7
1  success    {'name': 'Andreas Mogensen', 'craft': 'ISS'}       7
2  success    {'name': 'Satoshi Furukawa', 'craft': 'ISS'}       7
3  success  {'name': 'Konstantin Borisov', 'craft': 'ISS'}       7
4  success      {'name': 'Oleg Kononenko', 'craft': 'ISS'}       7
5  success        {'name': 'Nikolai Chub', 'craft': 'ISS'}       7
6  success        {'name': 'Loral O'Hara', 'craft': 'ISS'}       7

In [34]:
# We don't need message and number column. We want two columns with Person Name and Craft. 
# Fixing way 3

# Convert JSON data to DataFrame
astronauts = pd.json_normalize(df['people'])

astronauts

                 name craft
0     Jasmin Moghbeli   ISS
1    Andreas Mogensen   ISS
2    Satoshi Furukawa   ISS
3  Konstantin Borisov   ISS
4      Oleg Kononenko   ISS
5        Nikolai Chub   ISS
6        Loral O'Hara   ISS